*.aux
*.bbl
*.blg
*.dvi
*.idx
*.ilg
*.ind
*.log
*.synctex.gz
*.toc
*.log
*.tmp
*pdf
*swp
.no.md
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.glsdefs
*.ist
*ist
*.maf
svg-inkscape
*.out
*.ptc
old
*.png
*.jpeg
*.tiff
*.xcf
*.xmpi
