*.aux
*.bbl
*.blg
*.dvi
*.idx
*.ilg
*.ind
*.log
*.synctex.gz
*.toc
* Blood.odt
*.log
*.tmp
*pdf
Finished_PDFs
.First_Blood.tex.swp
*swp
.no.md
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.glsdefs
*.ist
*ist
First_Blood.mtc*
*.maf
